<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pw</title>
  <link rel="stylesheet" href="forgot.css"/>

</head>
<body>
<div class="box">
  <div class="inner-box">
    <h1> Email Verification link has been sent</h1>
    <p style="text-align:center"> We will send link providing email address please confirm the email add and email add to login in account</p>
    <br/>
    <p style="text-align:center"> Go Back to <a class="link" href="admin.html"> Admin Page</a></p>
  </div>
</body>
</html>