<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>id</th>-->
<!--    <th>User_ID</th>-->
<!--    <th>User name</th>-->
<!--    <th>Product_ID</th>-->
<!--    <th>Product name</th>-->
<!--    <th>Comment</th>-->
<!--    <th>Edit</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr th:each="comment:${myComments}">-->
<!--    <td th:text="${comment.id}"></td>-->
<!--    <td th:text="${comment.getUser_id().id}"></td>-->
<!--    <td th:text="${comment.getUser_id().fullname}"></td>-->
<!--    <td th:text="${comment.getProduct_id().id}"></td>-->
<!--    <td th:text="${comment.getProduct_id().name}"></td>-->
<!--    <td th:text="${comment.comment}"></td>-->
<!--    &lt;!&ndash;    <td> <a class="edit" th:href="@{~/admin/editproduct/}+${product.id}" >edit</a></td>&ndash;&gt;-->
<!--    <td> <a class="" th:href="@{~/admin/deletecomment/}+${comment.id}" >delete</a></td>-->

<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->